
/*   Styling for all webpages   */


.navigation {
    display: flex;
    background-color: orange;
    gap: 30px;
    padding: 15px;
    box-shadow: 5px 5px 10px brown;
    margin-left: 20px;
    margin-right: 20px;
}

.links {
    font-size: 25px;
    font-weight: 1000;
    color: white;
    text-decoration: none;
}

.links:hover {
    color: brown;
    text-decoration: underline double;
}

.title-image {
    width: 600px;
    height: 200px;
    border: 10px solid brown;
    box-shadow: 5px 5px 10px brown;
    align-self: center;
    margin-bottom: 100px;
    margin-top: 50px;
    
}

.header {
    font-size: 36px;
    font-weight: bold;
    color: brown;
    background-color: white;
    opacity: 0.75;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
}

.text {
    font-size: 25px;
    color: brown;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.85;
    border-radius: 20px;
    padding: 40px;
    align-items: center;
}

.copyright {
    background-color: orange;
    color: white;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 100px;
}


/*   -----------------------------------------------   */

/*   Styling for all webpages except index.html   */
.website {
    background-color: #f7cd80;
    background-image: url(../Images/ORWH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px double orange;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


.content-pages {
    width: 1000px;
    align-self: center;
}


.subheader {
    text-decoration: underline;
    font-weight: bold;
}

/*   -----------------------------------------------   */

/*   Styling for multiple webpages   */

.note {
    margin-top: 5px;
    font-size: 18px;
}

.color {
    color: orange;
}

.days {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-left: 30px;
}

/*   -----------------------------------------------   */

/*   Styling for index.html   */

.content {
    display: flex;
    margin: 0px 100px;
    gap: 100px;
    align-items: flex-end;
}

.come {
    font-size: 32px;
    font-weight: bold;
    color: orangered;
}

.image {
    width: auto;
    height: 600px;
    border-radius: 20px;
}

/*   -----------------------------------------------   */

/*   Styling for all menu-related webpages   */

.lunch {
    background-color: #f7f7c0;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px double orangered;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.dinner {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px double orangered;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.align-text {
    display: flex;
}

.dropbox {
    display: flex;
    flex-direction: column;
}

select {
    font-size: 25px;
}

.option:hover {
    background-color: orange;
}

option[value=""] {
    color: gray;
    text-align: center;
}


.diff-menu {
    color: orange;
    font-size: 20px;
}

#categories {
    font-size: 20px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    color: black;
    margin-bottom: 0px;
}

.protein  {
    list-style: none; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.opt {
    font-size: 18px;
}

.sub-description {
    margin-top: 5px; 
    font-style: italic; 
    font-size: 16px;
    color: black;
}

/*   -----------------------------------------------   */

/*   Styling for contact.html   */
.phone {
    font-size: 36px;
}

.border-top {
    border-top: 5px solid brown;
    text-align: center;
}

.hyperlink{
    color: brown;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.uber:hover {
    color: #028d20;
    font-size: 25px;
    text-decoration: none;
}

.grub:hover {
    color: orange;
    font-size: 25px;
    text-decoration: none;
}

/*   -----------------------------------------------   */

/*   Styling for location.html   */

.map {
    color: brown;
    font-weight: normal;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding:  20px;
    border-radius: 50px;
    border: none;
    background-color: orange;
    box-shadow: 5px 5px brown;
}

.map:hover {
    color: white;
}

.align-center {
    text-align: center;
}

/*   -----------------------------------------------   */

